* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: dodgerblue;
  color: #fff
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 600px;
  height: 400px;
  border: 1px solid #fff;
  margin: 30px auto 0px;
  line-height: 0px;
}

.hoverable {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0px;
  box-shadow: 20px 0px 0px 0px transparent, -20px 0px 0px 0px transparent, 0px 20px 0px 0px transparent, 0px -20px 0px 0px transparent;
  transition: box-shadow 0.5s, background-color 0.7s;
}
.hoverable:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 20px 20px 0px 0px transparent, -20px 20px 0px 0px transparent, 20px -20px 0px 0px transparent, -20px -20px 0px 0px transparent;
  transition: box-shadow 0.3s;
}
.hoverable:hover {
  box-shadow: 20px 0px 0px 0px rgba(230, 230, 230, 0.4), -20px 0px 0px 0px rgba(230, 230, 230, 0.4), 0px 20px 0px 0px rgba(230, 230, 230, 0.4), 0px -20px 0px 0px rgba(230, 230, 230, 0.4);
  background-color: rgba(230, 230, 230, 0.4);
  transition: none;
}
.hoverable:hover:before {
  content: "";
  box-shadow: 20px 20px 0px 0px rgba(230, 230, 230, 0.4), -20px 20px 0px 0px rgba(230, 230, 230, 0.4), 20px -20px 0px 0px rgba(230, 230, 230, 0.4), -20px -20px 0px 0px rgba(230, 230, 230, 0.4);
  transition: none;
}
